@model Proyecto_Lab_IV.Models.Vehiculo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.patente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.patente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.marca.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.marca.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.anio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.anio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tipoVehiculo.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tipoVehiculo.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fotografia)
        </dt>
        <dd class="col-sm-10">
            <img src="@(!string.IsNullOrEmpty(Model.fotografia) ? "/fotos/"+Model.fotografia : "")" name="imagen" id="imagen" style="max-width:100px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.concesionaria.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.concesionaria.nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </form>
</div>
