@* @model IEnumerable<LabIV.Models.Vehiculo> *@

@model Proyecto_Lab_IV.ModelView.VehiculoVM
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Create New</a>
</p><br />
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="ImportarVehiculos" enctype="multipart/form-data">
            <div class="form-group">
                <label for="archImportar">Selecciona un archivo Excel:</label>
                <input style="width:auto;" type="file" name="archivo" id="archivo" class="form-control" />
                <input type="submit" value="Importar" class="btn btn-outline-dark mt-2" />
            </div>
        </form>

    </div>
</div>

<br />
<form>
    <div class="row">
        <div class="col-3">
            Marca:
            <select class="form-select" asp-for="busqMarcaId" asp-items="@Model.ListMarca">
                <option value="">Todos</option>
            </select>
		</div>
        <div class="col-3">
            Tipo vehiculo:
            <select class="form-select" asp-for="busqTipoVehiculoId" asp-items="@Model.ListTipoVehiculo">
                <option value="">Todos</option>
            </select>
        </div>
        <div class="col-3">
            Concesionaria:
            <select class="form-select" asp-for="busqConcesionariaId" asp-items="@Model.ListConcesionaria">
                <option value="">Todos</option>
            </select>
        </div>
        <div class="col-3"><br />
            <input class="btn btn-outline-info" type="submit" value="Buscar" /> ~
            <a asp-action="Index" class="btn btn-outline-dark">Limpiar</a>
        </div>
	</div>
</form>
<br />
<table class="table table-dark table-hover text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vehiculos[0].patente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculos[0].marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculos[0].modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculos[0].anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculos[0].precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculos[0].tipoVehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculos[0].fotografia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculos[0].color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculos[0].estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculos[0].concesionaria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.vehiculos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.patente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.anio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoVehiculo.nombre)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.fotografia))
                    {
                        <img src="~/fotos/@item.fotografia" style="max-width:50px" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.concesionaria.nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="bi bi-ticket-detailed"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Paginador" for="@Model.paginador" />


<style>

</style>